<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
  <body>

  <form action="/" method="GET">
    <input type="text" name="search" placeholder="Search books...">
    <button type="submit">Search</button>
  </form>

  <a href="/?sort_by=title">Sort by Title</a>
  <a href="/?sort_by=author">Sort by Author</a>

  {% for book in books %}
  <div>
      <img src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg" alt="{{ book.title }}">
      <h3>{{ book.title }}</h3>
      <p>{{ book.author.name }}</p>
      <form action="/book/{{ book.id }}/delete" method="POST">
          <button type="submit">Delete Book</button>
      </form>
  </div>
  {% endfor %}

  {% if message %}
    <p>{{ message }}</p>
  {% endif %}

  </body>
</html>